### IntelliJ Idea ###
*.iml
*.ipr
*.iws
.idea/

### Java ###
*.class

# Java Package Files #
*.jar
*.war
*.ear

### Linux ###
.*
!.gitignore
!.gitattributes
*~
#############

### Maven ###
target/
#############